/* Media Styles 
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}*/
.page-header{
    font-family: 'Press Start 2P', cursive;
    padding-top: 2em;
    padding-left: 1em;
}
.blog-post {
    margin-top:2%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    
}
