/* nav bar*/

.navbrand {
    font-family: 'Press Start 2P', cursive;
    font-size: 140%;
    color: white;
    margin-left: 80px;
    
}
.nav{
    margin-top: 5px;
    margin-right: 50px;
    font-size: 20px;
}
h1 {
   font-family: 'Philosopher', sans-serif;
    font-weight: bold;
}
li{
    margin-right: 30px;
}
ul.nav li{
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
}
ul.nav li a, ul.nav li a:visited {
    color: grey !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
    text-shadow: 1px 1px 2px blue, 0 0 25px blue, 0 0 5px darkblue;
}
.nav-logo {
    width: 42px;
    height: 42px;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    border-radius: 50%;
}
#selected {
    color: white !important; 
}
/* nav bar */