.navbrand {
    color: white;
    margin-left: 80px;
    padding-bottom: 13px;
}

.nav{
    margin-top: 10px;
    margin-right: 50px;
    font-size: 20px;
}

li{
    margin-right: 50px;
}
#main-text{
    margin-top: 10em;
}
ul.nav li a, ul.nav li a:visited {
    color: grey !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
    text-shadow: 1px 1px 2px blue, 0 0 25px blue, 0 0 5px darkblue;
}

.nav-logo {
    width: 42px;
    height: 42px;
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    border-radius: 50%;
}